.container {
    &__title{
        text-align: center;
        
    }
    &__posts{
        padding: 1rem;
        margin: 0.5rem;
        }
    &__map{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:1rem;
        

    }
    &__element{
        width:25rem;
        border:1px solid black;
        box-shadow: 10px 5px 5px rgb(118, 95, 95);
        text-align: center;
        
    }
    &__icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    &__comment {
        color: red;
    }

}

